.tag-btn {
  background: transparent;
  color: #7fffd4;
  border: 2px solid #7fffd4;
  border-radius: 10px;
  font-weight: 600;
  padding: 5px 8px;
  align-content: center;
  font-size: 0.8em;
  margin-left: 0.1em;
  margin-right: 0.13em;
  cursor: pointer;
  transition: background 0.18s, color 0.18s, opacity 0.35s;
  opacity: 1;
  visibility: visible;
}
.tag-btn.fade-tag {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.35s, visibility 0.35s;
}
.tag-btn:hover,
.tag-btn.active {
  background: #7fffd4;
  color: #23252b;
}